SelinaNo/bin/
SelinaNo/obj/
SelinaNo/Content/obj/Windows/.mgcontent
SelinaNo/Content/obj/Windows/Fonts/scoreboardFont.mgcontent
SelinaNo/Content/obj/Windows/Sounds/Explosion.mgcontent
SelinaNo/Content/obj/Windows/Sounds/Merh.mgcontent
SelinaNo/Content/obj/Windows/Sounds/Yum.mgcontent
SelinaNo/Content/obj/Windows/Sprites/Bex.mgcontent
SelinaNo/Content/obj/Windows/Sprites/Pose.mgcontent
SelinaNo/Content/obj/Windows/Sprites/PoseRight.mgcontent
SelinaNo/Content/obj/Windows/Sprites/Selina.mgcontent
SelinaNo/Content/obj/Windows/Sprites/laser.mgcontent
SelinaNo/Content/obj/Windows/Sprites/title.mgcontent
SelinaNo/Content/obj/
